
/* Estilo de login */
body {
    background: linear-gradient(to bottom, #FFFFFF, #b4d4fa);
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    min-height: 100vh;

}
.container {
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    min-height: 100px;
    font-weight: bold;
}
.image {
    display: block;
    margin: auto auto 20px  auto;
    width: 250px;
    height: 255px;
}

.error-login label {
    display: flex;
    color: #d81616;
    align-items: center;
    justify-content: center; 

}

.icono {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    
}

.version {
    color: rgb(145, 139, 139);
    font-size: 12px;
    margin-top: 25px;
}
input[type="text"],input[type="password"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #3232e4;
    border-radius: 22px;
    font-size: 16px;
    width: 100%;
    background-color: transparent;
    outline: none;
}
button[type="submit"] {
    background-color: #3232e4;
    border: none;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    border-radius: 22px;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
}
button[type="submit"]:hover {
    background-color: #2c2ccc;

}
/* --------------------------------- */
/* estilos inicio */
