<!DOCTYPE html>
<html>

<head>
	<title>Iniciar sesion</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/styles_login.css' %}">

</head>

<body>
	<div class="container">
		<img class="image" src="{% static 'images/maincheck.png' %}" alt="">

		<form method="POST">
			{% csrf_token %}
			 
			<label for="{ form.username }"> Usuario </label> {{ form.username }}
			<label for="{ form.password }"> Contraseña </label> {{ form.password }}
			{% if form.errors %}
			<div class="error-login">
				<label for="error">
					<img class="icono" src="{% static 'images/icon_error.svg' %}" alt="">Usuario o contraseña incorrectos
				</label>
		    </div>
			{% endif %}

			<button type="submit">Iniciar sesión</button>
			
			<div class="extra-actions">
                <a href="{% url 'password_reset' %}" class="qr-button">
                    Recuperar contraseña
                </a>
            </div>

			<div class="version">
				<label for="version">@Universidad Del Quindio - Version 1.0.0 </label>
			</div>
			
		</form>
	</div>
</body>

</html>